<div class="backHeader" id="navBar">
  <header class="container">
    <div class="row naviBar" >
      <h1 class="col-md-4"> G
        <i>Winneyard</i>
      </h1>
      <nav class="col-md-8 text-right">

        <a href="#aboutWine" class="myB btn-primary" role="button"> About Wine </a>
        <a href="#aboutWinery" class="myB btn-primary" role="button">About Winnery </a>
        <a href="#aboutLocation" class="myB btn-primary" role="button">About Location </a>

      </nav>
    </div>
  </header>
</div>
<button (click)="topFunction()" id="startBtn" href="#titleG"></button>